.fundoCadastro {
    background-image: url("https://img.freepik.com/fotos-premium/uma-maquina-de-escrever-vintage-preta-com-uma-borracha-e-um-livro-antigo-sobre-fundo-de-madeira_180224-318.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    opacity: 0.8;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }