.fundoLogin {
    background-image: url('https://ik.imagekit.io/7fyx55ocq/ondaAmoeba.png?updatedAt=1740885463298');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
